<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

    <center>
      <table>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>
            <br>
            <br>
            <br>
            <h3><font color="#FF8000"><center>Login</center><h3/>
            <h4><center>Vuelve a entrar en</center><h4/>
            <h4><center>la aldea de <strong>PO</strong></center><h4/></font color="#FF8000">
            <br>
            <center><img src="/images/ojos.jpeg" width="348" height="145" class="img-fluid" alt="Responsive image"></center>
          </td>
          <td>
            <div id="formulario" class="form-signin">
              <span hidden$="{{logged}}">
                <br>
                <br>
                <br>
                <input placeholder="email@email.com" id="inputEmail" class="form-control" type="email" value="{{email::input}}" required autofocus></inpunt>
                <br>
                <input placeholder="Password" id="inputPassword" class="form-control" type="Password" value="{{password::input}}" required></inpunt>
                <small id="passworHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <br>
                <br>
                <br>
                <button class="btn btn-primary btn-lg btn-warning btn-block" type="submit" on-click="login">Entrar</button>
            </div>
          </td>
        </tr>
      </table>
    </center>

    <div id="fomulario2" class="form-signin">
      <span hidden$="{{!logged}}">
        Muuuyyy bien. Has vuelto
        <br> a la senda del Guerrero Dragrón.
      </span>
    </div>

    <span hidden$="{{!error}}">
      <div class="alert alert-danger" role="alert">
        <center><h2> Vaya...
        <br>
        Algo está roto y yo no fui.
        <br>
        <br>
        <center><img src="/images/comooo transparente.png" class="img-fluid" alt="Responsive image"></center>
        <br>
        {{error_msg}}
        <center></h2>
      </div>
    </span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, email: {
            type: String
          }, password: {
            type: String
          }, logged: {
            type: Boolean,
            value: false
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("AJAXResponse - LOGON:");
        console.log(data.detail.response);
        this.logged=true;
        window.location = "users/" + data.detail.response.idUsuario
        console.log("WINDOWS.LOCATION: "+ window.location);
      }

      showError(error){
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code = error.detail.request.__data.response.code;
        this.error_msg = error.detail.request.__data.response.msg;
        this.error_msg_lg = error.detail.error.message;
        this.error=true;
      }

      login() {
        console.log("El usuario ha pulsado el botón");
        this.error = false;
        this.logged = false;
        console.log("VALIDACION DATOS en Front usando: " + this.email + " " + this.password)
        if(this.email == "" || this.email == undefined || this.password == "" || this.password == undefined) {
          this.error_msg = 'No has introducido los datos para validar.';
          this.error = true;
          console.log(this.error_msg);
        } else {
          var loginData = {
            "email" : this.email,
            "password" : this.password
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Solicitando petición REQUEST");
        }
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
