<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

    <center><table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>
          <h3><font color="#FF8000"><center>Alta de Cliente</center><h3/>
          <h2><center>Vas a descubrir las</center><h2/>
          <h2><center>maravillas del Banco de <strong>PO</strong></center><h2/></font color="#FF8000">
          <br>
          <center><img src="/images/Patada fondo transparente.png" width="196" height="200" class="img-fluid" alt="Responsive image"></center>
        </td>
        <td>
          <div id="fomulario" class="form-signin">
            <span hidden$="{{created}}">
              <input placeholder="Nombre" id="inputName" class="form-control" type="text" value="{{first_name::input}}" required autofocus></inpunt>
              <br>
              <input placeholder="Apellidos" id="inputLastName" class="form-control" type="text" value="{{last_name::input}}" required ></inpunt>
              <br>
              <input placeholder="email@email.com" id="inputEmail" class="form-control" type="email" value="{{email::input}}" required ></inpunt>
              <br>
              <input placeholder="Password" id="inputPassword" class="form-control" type="Password" value="{{password::input}}" required></inpunt>
              <small id="passworHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              <br>
              <br>
              <button class="btn btn-primary btn-lg btn-warning btn-block" type="submit" on-click="create">Alta</button>

              <span hidden$="{{!error}}">
                <div class="alert alert-danger" role="alert">
                  <center><h4> Vaya...</h4>
                    Algo esta roto y yo no fui.
                    <center><img src="/images/comooo transparente.png" width="480" height="485" class="img-fluid" alt="Responsive image"></center>
                    <br>Msg: {{error_msg}}
                    <center>
                    </div>
                  </span>
                </span>
          </div>
        </td>
      </tr>
    </table></center>


      <div id="fomulario2" class="form-signin">
        <center>
        <span hidden$="{{!created}}">
          </br>
            <p class="h1"><font color="#FF8000">Enhora buena. Ya formas parte del Banco de PO.</p>
            <button class="btn btn-link"><a href="/login">Visita tu aldea.</a></button>
            <p>
          </span>
       </center>
      </div>

  </body>

    <iron-ajax
      id="doCreateUser"
      url="http://localhost:3000/apitechu/v2/users/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, created: {
            type: Boolean,
            value: false
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("AJAXResponse: ");
        console.log(data.detail.response);
        this.created=true;
      }
      showError(error) {
        console.log("ShowError");
        console.log("ERROR EN ALTA DE USUARIO !!!!!!!!: " + error);
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        this.error_code = error.detail.request.__data.response.code;
        this.error_msg = error.detail.request.__data.response.msg;
        this.error = true;
      }
      create() {
        console.log("El usuario ha pulsado el botón de alta de cliente");
        this.error=false;
        var userData = {
          "userid" : parseInt(this.userId),
          "email" : this.email,
          "password" : this.password,
          "first_name" : this.first_name,
          "last_name" : this.last_name
        };
        console.log("THIS.USER_ID: " + this.userId);
        console.log("Transformación de datos JS a JSON");
        this.$.doCreateUser.body = JSON.stringify(userData);
        this.$.doCreateUser.generateRequest();
        console.log("Request de alta de cliente enviada al Back");
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
