<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

    <div id="fomulario" class="form-signin">
      <center>
        <br>
        <center><img src="/images/zampa.jpg" width="196" height="200" class="img-fluid" alt="Responsive image"></center>
        <p class="h3"><font color="#FF8000">Alta de movimiento</p>
        <p class="h3"><font color="#FF8000">en cuenta</p>
        <br>
        <button class="btn btn-link"><a href="/users/{{id}}/accounts">Volver a tus cuentas </a></button>
        <br>
        <br>
      </center>
      <p>
      <label for="inputType">Tipo de movimiento</label>
      <select placeholder="Selecciona" id="inputType" class="form-control" value="{{type::input}}">
        <option selected>Selecciona el Tipo</option>
        <option>Ingreso</option>
        <option>Reintegro</option>
      </select>
      <br>
      <label for="inputSumary">Resumen</label>
      <input placeholder="Texto" id="inputSumary" class="form-control" type="text" value="{{sumary::input}}" required ></inpunt>
      <br>
      <label for="inputAmount">Importe</label>
      <div class="input-group" id="inputAmount">
        <input placeholder="Importe" type="text" class="form-control" value="{{amount::input}}" aria-label="Importe en €)">
        <div class="input-group-append">
          <span class="input-group-text">€</span>
        </div>
      </div>

        </p>
        <br>
        <br>

        <button class="btn btn-primary btn-lg btn-warning btn-block" type="submit" on-click="create">Alta Movimiento</button>
        <br>
        <br>

        <div class="form-signin">
          <span hidden$="{{!created}}">
            <center>
            <h3><font color = "#FFFFFF"><strong>{{response}}</h3>
            <button class="btn btn-link"><a href="/users/{{id}}/accounts/{{accountid}}/movements">Ver movimientos de la cuenta</a></button>
            <button class="btn btn-link"><a href="/users/{{id}}/accounts/{{accountid}}/movements/create">¿Realizar nuevo movimiento?</a></button>
            </center>
          </span>
        </div>
        <div class="form-signin">
          <span hidden$="{{!error}}">
            <center>
              <div class="alert alert-danger" role="alert">
              {{error_msg}}
              <button class="btn btn-link"><a href="/users/{{id}}/accounts/{{accountid}}/movements/create">¿Intentar de nuevo?</a></button>
              </div>
            </center>
          </span>
        </div>
      <!--/template-->

    <iron-ajax
        id="doGetAccount"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{accountid}}"
        handle-as="json"
        on-response="showData"
        on-error="showError"
      >
    </iron-ajax>

    <iron-ajax
      id="doCreateMovement"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{accountid}}/movements"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          date: {
           type: String
          }, entryid: {
            type: Number
          }, type: {
            type: String
          }, sumary: {
            type: String
          }, amount: {
            type: Number
          }, userid: {
            type: Number
          }, balance: {
            type: Number
          }, alias: {
            type: String
          }, response: {
            type:String
          }, created: {
            type: Boolean,
            value: false
          },error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("AJAXResponse alta movimiento");
        console.log(data.detail.response);
        this.created = true;
        this.response = data.detail.response.msg;
      }

      showData(data) {
        console.log("showData Account");
        console.log(data.detail.response[0]);
        console.log(data.detail.response[0].alias);
        this.alias = data.detail.response[0].alias;
        //this.userid = data.detail.response[0].USERID;
        //this.iban = data.detail.response[0].IBAN;
        //this.balance = data.detail.response[0].BALANCE;
      }

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        //console.log(error.detail.request.__data.status);
        //console.log(error.detail.request.__data.response.code);
        //console.log(error.detail.request.__data.response.msg);
        //this.error_code = error.detail.request.__data.response.code;
        //this.error_msg = error.detail.request.__data.response.msg;
        this.error = true;
      }

      create() {
        console.log("El usuario ha pulsado el botón de alta movimiento");
        this.created = false;
        this.error = false;
        if(this.amount.indexOf(",") >=0 ) {
          this.error_msg='Importe no valido. Decimales con punto(.) en lugar de coma (,)';
          this.error=true;
          console.log(this.error_msg);
        } else if(this.amount <= 0 ) {
           this.error_msg = 'Importe no valido (<=0). Debe ser mayor de 0';
           this.error = true;
           console.log(this.error_msg);
           return;
        }else if(this.amount > 0 ) {
          var datos = {
            //"entryid" : this.entryid,
            "type" : this.type,
            "sumary" : this.sumary,
            "amount" : this.amount,
          };

          this.$.doCreateMovement.body = JSON.stringify(datos);
          this.$.doCreateMovement.generateRequest();
          console.log("Datos: " + this.$.doCreateMovement.body);
          console.log("Petición Creación de Movimiento Enviada");
        }
      }
    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
