<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <center>
      <span hidden$="{{error}}">
        <div class="card border-warning mb-3" style="width: 21rem;">
          <img class="card-img-top" src="../images/images1.jpg" alt="Card image cap">
            <div class="card-body">
              <font color="#FF8000">
              <h3 class="card-title">Estás de vuelta Guerrero Dragón</h3>
              <h5 class="card-subtitle mb-2 text-muted">[[first_name]] [[last_name]]</h5>
              <p class="card-text"> Eres el aprendiz número:</p>
              <p class="card-text"><h1>[[userid]]</h1></p>
              <p class="card-text"><h3>Esto es lo que puedes hacer en tu aldea:</h3></p>
              <button class="btn btn-link"><a href="/users/{{userid}}/accounts">Ver tus cuentas </a></button>
              <button class="btn btn-link"><a href="/users/{{userid}}/accounts/create">Alta de cuenta</a></button>
              <button class="btn btn-link"><a href="/logout/users/{{id}}">Ir al conocer el mundo (Salir) </a></button>
              </font color="#FF8000">
            </div>
        </div>
      </span>
    </center>

    <div>
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          <center><h2> Vaya...
          <br>
          Algo está roto y yo no fui.
          <br>
          <br>
          <center><img src="/images/comooo transparente.png" class="img-fluid" alt="Responsive image"></center>
          <br>Debes estar en la aldea para luchar (operar).<a href="/login" class="alert-link"> Login</a></h2>
          <br>
          <center>
          </div>
      </span>
    </div>
  </div>

    <iron-ajax
      id="doGetUser" auto
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >
    </iron-ajax>
    
  </template>

  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        console.log(data.detail.response.userid);
        console.log(data.detail.response.code);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.userid = data.detail.response.userid;
        this.email = data.detail.response.email;
      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code = error.detail.request.__data.response.code;
        this.error_msg = error.detail.request.__data.response.msg;
        this.error = true;
      };
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
