<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="alert alert-light" role="alert">
      <center><h2> Maestro Oogway...</h2>
      <br><h3>No existen las coincidencias en este mundo.</h3>.
      <img src="/images/comooo.jpg" width="480" height="485">
      <br><h2>Vuela de regreso y diles que el verdadero Guerrero Dragón regresa a <a href="/home" class="alert-link"> casa.</a></h2>
      <center>
    </div>

  </template>

  <script>
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
