<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <span hidden$="{{error}}">
        <div class="table-responsive">
          <table class="table table" id="Títulos">
              <td><p class="h2"><font color="#FFFFFF">Movimientos</p></td>
              <td class="text-right"><button class="btn btn-link" id="BtnBackAccountr"><a href="/users/{{id}}/accounts">Volver a tus cuentas</a></button></td>
              <td class="text-right"><button class="btn btn-link" id="BtnCreateMovement"><a href="/users/{{id}}/accounts/{{accountid}}/movements/create">Alta de movimiento</a></button></td>
          </table>
        </div>
        <div class="table-responsive"> <!--  table-striped  table-hover" -->
          <table class="table table-striped">
            <thead>
              <tr class="bg-warning">
                <th scope="col">Fecha</th>
                <th scope="col">Tipo</th>
                <th scope="col">Resumen</th>
                <th scope="col">Importe</th>
                <th scope="col" class="text-right">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{movements}}">
                <tr>
                  <td><font color = "#FFFFFF"><strong>{{item.date}}</td>
                  <td><font color = "#FFFFFF"><strong>{{item.type}}</td>
                  <!-- <td if {{item.type}} = "Reintegro" then bgColor: "#FF0000"><strong>{{item.type}}</td> -->
                  <td><font color = "#FFFFFF"><strong>{{item.sumary}}</td>
                  <td><font color = "#FFFFFF"><strong>{{item.amount}}</td>
                  <td class="text-right"><font color = "#FFFFFF"><strong>{{item.balance}}</td>
                </tr>
              </template>
            </tbody>
          </table>

          <br>
          <center><img src="/images/home.jpg" class="img-fluid" alt="Responsive image"></center>

        </div>
      </span>
      <div>
        <span hidden$="{{!error}}">
          <span hidden$="{{!error2}}">
            <div class="alert alert-light" role="alert">
              <center>
                <h3>Sin movimientos en la cuenta:
                <br>
                {{accountid}}
                <br>
                No has realizado ninguna operación en esta cuenta.
                <br>
                <br>
                <center><img src="/images/eimm.jpg" class="img-fluid" alt="Responsive image"></center>
                <br>
                Puedes volver a tus cuentas o realizar un movimiento.</h3>
                <br>
                <button class="btn btn-link"><a href="/users/{{id}}/accounts">Volver a mis cuentas</a></button>
                <button class="btn btn-link"><a href="/users/{{id}}/accounts/{{accountid}}/movements/create">Alta de movimiento</a></button>
                <br>
                <br>Msg: {{error_msg}}
            </div>
          </span>
          <span hidden$="{{!error1}}">
            <div class="alert alert-danger" role="alert">
              <center><h2> Vaya...
              <br>
              Algo está roto y yo no fui.
              <br>
              <br>
              <center><img src="/images/comooo transparente.png" class="img-fluid" alt="Responsive image"></center>
              <br>prueba a <a href="/login" class="alert-link">ENTRAR LISTILLO!!!!</a></h2>
              <br>
              <center>
              </div>
          </span>
        </span>

<!--
        <span hidden$="{{!error}}">
            <div class="alert alert-light" role="alert">
              <center>
                <h3>Sin movimientos en la cuenta:
                <br>
                {{accountid}}
                <br>
                No has realizado ninguna operación en esta cuenta.
                <br>
                <br>
                <center><img src="/images/eimm.jpg" class="img-fluid" alt="Responsive image"></center>
                <br>
                Puedes volver a tus cuentas o realizar un movimiento.</h3>
                <br>
                <button class="btn btn-link"><a href="/users/{{id}}/accounts">Volver a mis cuentas</a></button>
                <button class="btn btn-link"><a href="/users/{{id}}/accounts/{{accountid}}/movements/create">Alta de movimiento</a></button>
                <br>
                <br>Msg: {{error_msg}}
              </center>
            </div>
        </span>
  -->


      </div>


    <iron-ajax auto
      id="doGetMovements"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{accountid}}/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accountid: {
            type: Number
          }, movements: {
            type: Array
          }, balance: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, error2: {
            type: Boolean,
            value: false
          }, error1: {
            type: Boolean,
            value: false
          }, error_msg: {
            type: String
          }
        };
      }

      showData(data) {
        console.log("Ver Movimientos showData");
        console.log(data.detail.response[0]);
        this.movements = data.detail.response;
      }

      showError(error){
        console.log("Ver Movimientos ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        this.error_msg = error.detail.request.__data.response.msg
        this.error = true;
        if (error.detail.request.__data.status == 404) {
          this.error2 = true;
        } else if (error.detail.request.__data.status == 401) {
          this.error1 = true;
          } else {
            this.error1 = true;
            }

      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
