<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">


    <span hidden$="{{error}}">
      <div id="fomulario" class="form-signin">
        <center>
          <div><p><br></p></div>
          <p class="h3"><font color="#FF8000">Alta de cuenta
          </p>
          <button class="btn btn-link"><a href="/home">Volver a Home </a></button>
          <button class="btn btn-link"><a href="/users/{{id}}">Volver a ver tus datos</a></button>
          <br>
          <br>

          <p>
          <label for="inputDescription"><font color="#FF8000">Alias</label>
          <input placeholder="Nombre de tú cuenta" id="inputDescription" class="form-control" type="text" value="{{alias::input}}" required ></inpunt>
          <br>
          <label for="inputAmount"><font color="#FF8000">Importe Inicial</label>
        </center>
            <div class="input-group" id="inputBalance">
              <input placeholder="Introduce un Nº <> de 0 " type="text" class="form-control" value="{{balance::input}}" aria-label="Importe en Euros)">
                <div class="input-group-append">
                  <span class="input-group-text">€</span>
                </div>
            </div>
            <br>
            <br>
          </p>
          <button class="btn btn-primary btn-lg btn-warning btn-block" type="submit" on-click="create">Alta</button>

          <div id=""form-signin"">
            <span hidden$="{{!created}}">
              </br>
              <center>
              <p class="h1">{{response}}</p>
              <button class="btn btn-link"><a href="/users/{{id}}/accounts">Ver todas tus cuentas</a></button>
              </center>
            </span>
          </div>
      </div>
    </span>

      <div>
        <span hidden$="{{!error}}">
          <div class="alert alert-danger" role="alert">
            <center><h2> Vaya...
            <br>
            Algo está roto y yo no fui.
            <br>
            <br>
            <center><img src="/images/comooo transparente.png" class="img-fluid" alt="Responsive image"></center>
            <br>prueba a <a href="/login" class="alert-link">ENTRAR LISTILLO!!!!</a></h2>
            <br>
            <center>
          </div>
        </span>
      </div>

      <div>
        <span hidden$="{{!error2}}">
          <div class="alert alert-danger" role="alert">
            <center><h2> Vaya...</h2>
              <center><img src="/images/comooo.jpg" class="img-fluid" alt="Responsive image"></center>
                <br>{{error_msg}}
                <center>
          </div>
        </span>
      </div>

    <iron-ajax
      id="doCreateAccount"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta'; }
      static get properties() {
        return {
          alias: {
            type: String
          }, balance: {
            type: Number
          }, userid: {
            type: Number
          }, response: {
            type:String
          }, created: {
            type: Boolean,
            value: false
          }, error: {
            type: Boolean,
            value: false
          },error2: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("AJAXResponse ALTA DE CUENTA");
        console.log(data.detail.response);
        this.created = true;
        this.response = data.detail.response.msg;
      }

      showError(error){
        console.log("ShowError");
        console.log("ERROR EN ALTA DE CUENTA !!!!!!!!: " + error);
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        this.error = true;
      }

      create() {
        console.log("El usuario ha pulsado el botón de alta de cuenta");
        this.created = false;
        this.error = false;

        if(this.balance.indexOf(",")>= 0 ) {
          this.error_msg = 'En esta aldea los decimales van con "coma" no con "punto".';
          this.error2 = true;
          console.log(this.error_msg);
        } else if(this.balance <= 99 ) {
            this.error_msg = 'No seas tacaño y pon un poco más en la saca. Aquí no guardamos aire. Pon algo mayor que 100';
            this.error2 = true;
            console.log(this.error_msg);
           return;
        } else if(this.balance >= 100 ) {
          var moveData = {
            "alias" : this.alias,
            "balance" : this.balance
          };
          this.error2 = false
          console.log("Transformación de datos JS a JSON");
          this.$.doCreateAccount.body = JSON.stringify(moveData);
          this.$.doCreateAccount.generateRequest();
          console.log("this.$.doCreateAccount.body: " + this.$.doCreateAccount.body);
          console.log("Request de alta de cuenta enviada al Back");
          }
      }
    }

      window.customElements.define(AltaCuenta.is, AltaCuenta);

  </script>
</dom-module>
