<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <div class="alert alert-warning" role="alert">
        <center><h2><font color="#FF8000">Vuelve pronto Guerrero Dragón...</h2>
        En la aldea de PO te echaremos de menos.
        <br>
        <br>
        <br>
        <br>
        <img src="/images/POgrande.png">
        <br>
        <br>
        <br>
        <br>
        <button class="btn btn-link"><a href="/home">Regresar a la aldea de PO</a></button>
        <center>
      </div>
    <span>

    <!--AQUI LA EJECUCION DEL AJAX ES "auto" PORQUE EL LOGOUT SE PRODUCE AL ENTRAR EN LA PAGINA. NO HAY BOTON.
        IR A ESTA PAGINA LANZA LA ACCION DE LOGOUT -->
    <iron-ajax auto
      id="doLogoutUser"
      url="http://localhost:3000/apitechu/v2/logout/{{id}}"
      method="POST"
      on-response="showData"
      on-error="showError"
      window.location = "logout/"
    >
    </iron-ajax>

  </template>

  <script>
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        console.log(data.detail.response.code);
      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        this.error = true;
      };

    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
