
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/visor-tiempo/visor-tiempo.html">

<dom-module id="home-page">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <center>
      <br>
      <br>
      <h1><font color="#FF8000">Aldea "Valle de la Paz"</h1>
        <br>
        <br>
          <div>
            <img src="./images/palo.jpg" width="900" height="500" class="img-fluid" alt="Responsive image">
          </div>
    </center>

<!--
    <div id="euriborgrafico">
      <script type="text/javascript" src="http://www.hipotecasyeuribor.com/w1_as.html" async="async"></script>
      <noscript>  <a href="http://www.hipotecasyeuribor.com">Euribor</a> </noscript>
    </div>
-->
    <visor-tiempo></visor-tiempo>

  </template>

  <script>
    class HomePage extends Polymer.Element {
      static get is() { return 'home-page'; }
      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
