<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
      .table th: nth-child(2){
        text-align: right;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <template is="dom-if" if="{{!loading}}"> <!-- no se puede quitar. INVESTIGAR-->
      <span hidden$="{{error}}">
        <div class="table-responsive">
          <table class="table table" id="Titulos">
            <td><p class="h2"><strong><font color="#FFFFFF">Tus Cuentas</p></td>
            <td><center><img src="../../images/Capa fondo transparente.png" class="img-fluid" alt="Responsive image"></center></td>
            <td class="text-right"><button class="btn btn-link" id="btnvolver"><a href="/users/{{id}}">Volver a tus datos</a></button></td>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="bg-warning">
                <th scope="col">IBAN</th>
                <th scope="col">Alta</th>
                <th scope="col">Alias</th>
                <th scope="col" class="text-right">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{accounts}}">
                <!-- tr class="bg-success"-->
                <tr>
                  <td><font color = "#FFFFFF"><strong>{{item.IBAN}}<p>
                    <button class="btn btn-link"><a href="/users/{{item.userid}}/accounts/{{item.accountid}}/movements">Ver movimientos</a></button>
                    <button class="btn btn-link"><a href="/users/{{item.userid}}/accounts/{{item.accountid}}/movements/create">Crear movimiento</a></button>
                  </td>
                  <td><font color = "#FFFFFF"><strong>{{item.date}}</td>
                  <td><font color = "#FFFFFF"><strong>{{item.alias}}</td>
                  <td class="text-right"><font color = "#FFFFFF"><strong>{{item.balance}} €</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </span>
      <div>
        <span hidden$="{{!error}}">
          <span hidden$="{{!error2}}">
            <div class="alert alert-light" role="alert">
              <center>
                <h3> Sin cuentas. </h3>
                <br>
                <button class="btn btn-link"><a href="/users/{{id}}/accounts/create">Crear una cuenta nueva</a></button>
                <br>
                <br>Msg: {{error_msg}}
              </center>
            </div>
          </span>
          <span hidden$="{{!error1}}">
            <div class="alert alert-danger" role="alert">
              <center><h2> Vaya...
              <br>
              Algo está roto y yo no fui.
              <br>
              <br>
              <center><img src="/images/comooo transparente.png" class="img-fluid" alt="Responsive image"></center>
              <br>prueba a <a href="/login" class="alert-link">ENTRAR LISTILLO!!!!</a></h2>
              <br>
              <center>
              </div>
          </span>
        </span>
      </div>
    </template>

    <iron-ajax auto
    id="getAccounts"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
    handle-as="json"
    on-response="showData"
    on-error="showError"
    loading="{{loading}}"
    >
    </iron-ajax>

  </template>

  <script>
  /**
  * @customElement
  * @polymer
  */
  class VisorCuentas extends Polymer.Element {
    static get is() { return 'visor-cuentas'; }
    static get properties() {
      return {
        userid: {
          type: Number
        }, iban: {
          type: String
        }, accounts: {
          type: Array
        }, balance: {
          type: Number
        }, error: {
          type: Boolean,
          value: false
        }, error2: {
          type: Boolean,
          value: false
        }, error1: {
          type: Boolean,
          value: false
        }, error_code: {
          type: String
        }, error_msg: {
          type: String
        }
      };
    }

    showData(data) {
      console.log("Ver Cuentas showData");
      console.log(data.detail.response[0]);
      this.accounts = data.detail.response;
    }

    showError(error) {
      console.log("ShowError Ver Cuentas");
      console.log(error.detail.error);
      console.log(error.detail.error.message);
      console.log(error.detail.request.__data.status);
      console.log(error.detail.request.__data.response.msg);
      this.error_code = error.detail.request.__data.response.code;
      this.error_msg = error.detail.request.__data.response.msg;
      this.error_msg_lg = error.detail.error.message;
      this.error = true;
      if (error.detail.request.__data.status == 404) {
        this.error2 = true;
      } else if (error.detail.request.__data.status == 400) {
        this.error1 = true;
        } else {
          this.error1 = true;
          }
    }
  }

        window.customElements.define(VisorCuentas.is, VisorCuentas);

  </script>
</dom-module>
