<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-tiempo">
  <template>
    <style>
      :host {
        display: block;
      }
      .table th {
        text-align: center;
      }
    .table td {
        text-align: center;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <center>
        <br>
        <br>
        <br><h4><font color="#FFFFFF">El tiempo hoy (<strong>{{fecha}}</strong>) en la aldea de PO (<strong>{{provincia}}</strong>), estará entre:</h4>
        <br><font color="#FF8000">Temperatura mínima: <h4><font color="#FFFFFF"><strong>{{tMinima}}ºC</h4></strong></font color="#FFFFFF"> Temperatura máxima: <h4><strong><font color="#FFFFFF">{{tMaxima}}ºC</h4></strong></font color="#FFFFFF">
        <div class="table-responsive">
          <br>
          <table class="table table-striped">  <!--  table-striped  table-hover" -->
            <thead>
                  <tr>
                    <template is="dom-repeat" items="{{temperaturas}}">
                      <th scope="col"><font color="#FFFFFF">{{item.hora}} Horas </th>
                  </template>
                  </tr>
            </thead>
            <tbody>
                <tr>
                  <template is="dom-repeat" items="{{temperaturas}}">
                    <td><font color="#FFFFFF">{{item.value}} ºC<p></td>
                  </template>
                </tr>
            </tbody>
          </table>
        </div>
      </center>


    <iron-ajax auto
      id="doGetWeather"
      url="http://localhost:3000/apitechu/v2/weather"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    class VisorTiempo extends Polymer.Element {
      static get is() { return 'visor-tiempo'; }
      static get properties() {
        return {
          provincia: {
            type: String
          }, fecha: {
            type: Date
          },tMaxima: {
            type: Number
          }, tMinima: {
            type: Number
          }, temperaturas: {
            type: Array
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }
        };
      }

      showData(data) {
        // console.log("showData");
        // console.log(data.detail.response[0]);
        // console.log(data.detail.response[0].prediccion);
        // console.log(data.detail.response[0].provincia);
        // console.log(data.detail.response[0].prediccion.dia[0].fecha);
        // console.log(data.detail.response[0].prediccion.dia[0].temperatura.maxima);
        // console.log(data.detail.response[0].prediccion.dia[0].temperatura.minima);
        // console.log(data.detail.response[0].prediccion.dia[0].temperatura.dato);
        this.provincia = data.detail.response[0].provincia;
        this.fecha = data.detail.response[0].prediccion.dia[0].fecha;
        this.tMaxima = data.detail.response[0].prediccion.dia[0].temperatura.maxima;
        this.tMinima = data.detail.response[0].prediccion.dia[0].temperatura.minima;
        this.temperaturas = data.detail.response[0].prediccion.dia[0].temperatura.dato;
        console.log(this.temperaturas);

      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        this.error = true;
      };
    }

    window.customElements.define(VisorTiempo.is, VisorTiempo);
  </script>

</dom-module>
